﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom">
            <a class="title" href="/">Projeto Sistema</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a class="title" href="/Home/Users">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="title" href="/Home/Register">Registrar</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        &copy; 2022 - Sistema
    </footer>
    <script>
    function makeid(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
       }
       return result;
    }

    angular.module('myApp', [])
    .controller('myCtrl', ['$scope', '$window', '$http', function($scope, $window, $http) {
        $scope.loginValidation = function() {
            if ($scope.usuario === 'SISTEMA' && $scope.senha === 'candidato123') {
               $('#login-error').hide();
               $window.location.href = '/Home/Details'; 
            }
            else {
                $('#login-error').show();
            }
        };
        $scope.registration = function() {
            var codigo = document.getElementById("codigo").value;
            var nome = document.getElementById("nome").value;
            var cpf = document.getElementById("cpf").value;
            var endereco = document.getElementById("endereco").value;
            var telefone = document.getElementById("telefone").value;
            var valid = true;
            if (nome == '') {
                valid = false;
                $('#empty-nome').show();
                $('#result').hide();
            } else {
                $('#empty-nome').hide();
            }
            if (cpf == '') {
                valid = false;
                $('#empty-cpf').show();
                $('#result').hide();
            } else {
                $('#empty-cpf').hide();
            }
            var re = new RegExp("^[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}$");  
            if (!re.test(cpf) && cpf != '') {
                valid = false;
                $('#invalid-cpf').show();
            } else {
                $('#invalid-cpf').hide();
            }
            if (valid) {
                $('.spinner-border').show();
                $('#result').show();
                $http({
                    method: "POST",
                    url: 'https://localhost:8001/Home/RegisterNewUser',
                    dataType: 'json',
                    data: $.param({ 
                        nome: nome, 
                        codigo: codigo,
                        cpf: cpf,
                        endereco: endereco,
                        telefone: telefone 
                    }),
                    headers: { "Content-Type": "application/x-www-form-urlencoded" }
                })
                .then(function(response) {
                    if (response.data == 'CPF informado já existe!') {
                        $("#result").addClass("error");
                        $("#result").removeClass("success");
                    } else {
                        $("#result").addClass("success");
                        $("#result").removeClass("error");
                    }
                    document.getElementById("result").innerHTML = response.data;
                    document.getElementById("codigo").value = makeid(20);
                    document.getElementById("nome").value = "";
                    document.getElementById("cpf").value = "";
                    document.getElementById("endereco").value = "";
                    document.getElementById("telefone").value = "";
                }, 
                function(response) { 
                    console.log(response) // error
                }).finally(function() {
                    $('.spinner-border').hide();
                });                
            }
        }
    }]);
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function removeUser() {
            var codigo = document.getElementById("code").innerHTML;
            $.ajax({
                url: 'https://localhost:8001/Home/Delete',
                type: 'DELETE',
                data: {"codigo": codigo},
                success: function(result) {
                    window.location.href = '/Home/Users';
                }
            });
        }
        function updateUser(codigo, nome, cpf, endereco, telefone) {
            document.getElementById("codigo-update").value = codigo;
            document.getElementById("nome-update").value = nome;
            document.getElementById("cpf-update").value = cpf;
            document.getElementById("endereco-update").value = endereco;
            document.getElementById("telefone-update").value = telefone;
        }
        function userRemove(codigo) {
            console.log(codigo);
            document.getElementById("code").innerHTML = codigo;
        }
        function userUpdate() {
            var codigo = document.getElementById("codigo-update").value;
            var nome = document.getElementById("nome-update").value;
            var cpf = document.getElementById("cpf-update").value;
            var endereco = document.getElementById("endereco-update").value;
            var telefone = document.getElementById("telefone-update").value;
            $.ajax({
                url: 'https://localhost:8001/Home/Update',
                type: 'POST',
                data: {
                    "codigo": codigo, 
                    "nome": nome,
                    "cpf": cpf,
                    "endereco": endereco,
                    "telefone": telefone
                },
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                success: function(result) {
                    window.location.href = '/Home/Users';
                }
            });
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>