﻿@{
    ViewData["Title"] = "Login";
}

<div class="login-component" ng-app="myApp" ng-controller="myCtrl">
    <h2>Autenticar no Sistema</h2>
    <label>Usuário:</label>
    <input ng-model="usuario" type="text">
    <label>Senha:</label>
    <input ng-model="senha" type="password">
    <button class="login-button" ng-click="loginValidation()">Entrar</button>
    <div style="display:none;" id="login-error">
        Usuário ou senha inválidos.
    </div>
</div>