@{
    ViewData["Title"] = "Registrar";
}

<div class="register-component" ng-app="myApp" ng-controller="myCtrl">
    <form name="myForm">
        <h2>Registrar no Sistema</h2>
        <label>Código:</label>
        <input id="codigo" type="text" disabled>
        <label>Nome:</label>
        <input id="nome" ng-model="nome" type="text">
        <label>CPF:</label>
        <input id="cpf" ng-model="cpf" type="text">
        <label>Endereço:</label>
        <input id="endereco" ng-model="endereco" type="text">
        <label>Telefone:</label>
        <input id="telefone" ng-model="telefone" type="text">
        <button ng-click="registration()" class="login-button">Salvar</button>
        <p class="mb-0 mt-2" style="display: none;" id="result"></p>
        <div id="empty-nome" style="display:none;">
            O campo nome precisa ser informado.
        </div>
        <div id="empty-cpf" style="display:none;">
            O campo CPF precisa ser informado.
        </div>
        <div id="invalid-cpf" style="display:none;">
            O campo de CPF informado é inválido.
        </div>
        <div class="spinner-border mt-2" style="width: 3rem; height: 3rem; display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </form>
</div>