@{
    ViewData["Title"] = "Usuários";
}


@foreach (var usuario in ViewBag.Usuarios)
{
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><b>Código:</b> @usuario.Codigo</h5>
    <p class="mr-1"><b>Nome:</b> @usuario.Nome</p>
    <p class="mr-1"><b>CPF:</b> @usuario.CPF</p>
    <p class="mr-1"><b>Endereço:</b> @usuario.Endereco</p>
    <p class="mr-1 mb-0"><b>Telefone:</b> @usuario.Telefone</p>
    <button class="delete-button" data-toggle="modal" data-target="#deleteModal" onclick="userRemove('@usuario.Codigo');">Remover</button>
    <button class="update-button" data-toggle="modal" data-target="#exampleModal" onclick="updateUser('@usuario.Codigo', '@usuario.Nome', '@usuario.CPF', '@usuario.Endereco', '@usuario.Telefone')";>Atualizar</button>
  </div>
</div>
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remover Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-0">Tem certeza que deseja remover o usuário de código <span id="code"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" onclick="removeUser();" class="btn btn-primary">Sim</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Código:</label>
        <input id="codigo-update" disabled>
        <label>Nome:</label>
        <input id="nome-update"  type="text">
        <label>CPF:</label>
        <input id="cpf-update"  type="text">
        <label>Endereço:</label>
        <input id="endereco-update"  type="text">
        <label>Telefone:</label>
        <input id="telefone-update" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" onclick="userUpdate();" class="btn btn-primary">Alterar</button>
      </div>
    </div>
  </div>
</div>