﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

label {
  margin-bottom: 0;
}

input {
  display: block;
  width: 100%;
}

.login-button {
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  background: #79131f;
  border: 1px solid #79131f;
  border-radius: 5px;
}

.delete-button {
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  background: #a30010;
  border: 1px solid #79131f;
  border-radius: 5px;
}

.update-button {
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  background: #104194;
  border: 1px solid black;
  border-radius: 5px;
}

.login-component {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  border: 2.5px solid #79131f;
  padding: 25px;
  background: #f0f0f0;
}

.register-component {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  border: 2.5px solid #79131f;
  padding: 25px;
  background: #f0f0f0;
}

#login-error, 
#empty-nome, 
#empty-cpf, 
#invalid-cpf {
  color: red;
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar {
  background: #f0f0f0;
  border-bottom: 2.5px solid #79131f !important;
}

.title {
  color: #79131f !important;
  font-size: 1.35rem;
  font-weight: bold;
}

footer {
  background: #f0f0f0;
  border-top: 2.5px solid #79131f !important;
  padding-left: 1rem;  
}

#codigo {
  background: white;
  border: 1px solid gray;
}

.card {
  margin-top: 15px;
  border: 2.5px solid #79131f;
  background: #f0f0f0; 
}

.success {
  color: green;
}

.error {
  color: red;
}

#code {
  font-weight: bold;
}